.main {
  margin: 80px auto 0;
  width: 1140px;
  .img {
    img {
    }
  }
  .title {
    border: 1px solid rgba(135, 131, 131, 0.67);
    border-top: 0;
    padding: 30px;
    h4 {
      color: #3b3a40;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 24px;
    }
    p {
      color: #3b3a40;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 24px;
      margin-bottom: 0;
    }
  }
}
