.searchTag {
  .main {
    width: max-content;
    //height: auto;
    display: flex;
    padding: 10px 14px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 4px;
    background: #eff1f3;
    .title {
      margin-bottom: 0;
      color: #64626a;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }
}
