.root {
  margin-top: 50px;
  .main {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    .filter {
      width: 32%;
      .left {
      }
    }
    .top {
      width: 65%;

      .right {
      }
    }
  }
}
